* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: aliceblue;
    width: 700px;
    margin: 10px auto;
    padding: 20px;
}

body {
    font-family: "open sans", sans-serif;
    background-color: #1d9b5c;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    margin: 20px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 20px
}

ul li a {
    text-decoration: none;
    color: black;
}
